/* === ROOT STYLES === */

:root {
    --main-green: #00ff99;
    --main-pink: #ffcccc;
    --main-blue: #1b1464;
}

p {
    color: white;
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--main-green);
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    margin: 0;
    padding: 0;
}

h2 {
    color: var(--main-green);
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

h3 {
    color: white;
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

h3 a {
    color: white;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}

input{
    color: white;
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

input[type="text"] {
    background-color: transparent;
    border: none;
}

input[name="username"] {
    width: 60%;
}

input[name="password1"] {
    width: 62%;
}

input[type="password"] {
    background-color: transparent;
    border: none;
}

::placeholder {
    color: white;
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

input:focus{
    outline: none;
    color: var(--main-green);
}

input[type="checkbox"] {
    border: 1px solid white;
}

input[type="checkbox"]:checked {
    background-color: var(--main-green);
}

.transparent {
    background-color: transparent;
    border: none;
}

ul {
    list-style-type: circle;
    padding-left: 20px;
}
li {
    color: white;
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

/* === COLOR STYLES === */

#white {
    color: white !important;
}

.white {
    color: white !important;
}

.green {
    color: var(--main-green);
}

#green:hover {
    color: var(--main-green);
}

#red:hover {
    color: red;
}

/* === BACKGROUND STYLES === */

.background {     
    background: linear-gradient(130deg, var(--main-pink) 0%, var(--main-blue) 50%, 
    var(--main-blue) 85%, rgba(0, 255, 153, .6) 100%);
    display: flex;
    flex-direction: column;
    height: calc(100vH - 10px);
    align-items: center;
    width: calc(100vW - 10px);
    border: 5px solid var(--main-green);
}

.background-overlay {
    background: linear-gradient(240deg, var(--main-pink) 0%,var(--main-pink) 15%, transparent 30%);
    display: flex;
    flex-direction: column;
    height: calc(100vH - 10px);
    align-items: center;
    width: calc(100vW - 10px);
}

/* === SPACING STYLES === */

body {
    margin: 0;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row !important;
}

.space-btwn {
    justify-content: space-between;
}

.col-center {
    align-items: center;
}

.vert-center {
    align-items: center;
}

#margin-top {
    margin-top: 10vH;
}

/* === FORM STYLES === */

.transparent {
    background-color: transparent;
}

.input-stnd {
    background-color: transparent;
}

/* === HEADER STYLES === */

.header {
    margin-top: 2vH;
    width: 33vW;
}

/* === SIGNUP STYLES === */

.helptext {
    display: none;
}


/* === TODOS STYLES === */

.tasks {
    background-color: rgba(255, 255, 255, .5);
    border: 2px solid white;
    border-radius: 20px;
    margin-top: 4vH;
    padding: 2vH 2vW;
    width: 35vW;
}

.task {
    border-top: 2px solid white;
    padding: .5vH 0vW;
}

/* === TODOS STYLES === */
.home-page {
    margin-top: 20vH;
    width: 33vW;
}

.home-button {
    background-color: transparent;
    border-left: 2px solid var(--main-green);
    border-right: 2px solid var(--main-green);
    border-top: none;
    border-bottom: none;
    border-radius: 20px;
    display: inline;
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    margin-top: 2vH;
    padding: 1vH 0vW;
    text-align: center;
    text-transform: uppercase;
    width: 33vW;
}

.home-button a {
    color: white;
    text-decoration: none;
}

.home-button:hover {
    background: rgba(255, 255, 255, .5);
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.home-buttons{
    margin-top: 10vH;
}

.priori-title {
    width: 33vW;
}

.incomplete {
    height: 18px;
    width: 18px;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 2vW;
    margin-top: 1vH;
}

.complete {
    height: 18px;
    width: 18px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: var(--main-green);
    margin-right: 2vW;
    margin-top: 1vH;

}
/* === DAYS STYLES === */

.day-delete{
    margin-right: 2vW !important;
    text-align: right;
}

.incomplete-days {
    height: 16px;
    width: 16px;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 2vW;
    margin-top: .5vH;
}

.complete-days {
    height: 16px;
    width: 16px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: var(--main-green);
    margin-right: 2vW;
    margin-top: .5vH;
}