{% extends 'base.html' %}

{% block title %}
    PRIORI Days of the Week
{% endblock %}

{% block body %}

{% load bootstrap4 %}
<!-- {% bootstrap_css %} -->
{% bootstrap_javascript jquery='full' %}
{{ form.media }}

    <div class="header">
        <div class="flex space-btwn">
            <h1>P</h1><h1>R</h1><h1>I</h1><h1>O</h1><h1>R</h1><h1>I</h1>
        </div>
        <div>
            {% if user.is_authenticated %}
                <div class="flex space-btwn"> 
                    <h3>{{ user.username }}</h3>
                    <h3><a href="/accounts/logout/">Logout</a></h3>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="flex column tasks">
        <div class="flex space-btwn">
            <h2><a id="white" href="/profile/">To Do</a></h2>
            <h2>Days</h2>
        </div>
        {% for day in days %}
                <div class="flex column task days">
                    <div class="flex space-btwn">
                        <h3 class="green">{{ day.day }}</h3>
                        <div class="flex column col-center">
                            <h3><a id="green" href="/profile/days/{{day.pk}}">+</a></h3>
                        </div>    
                    </div>
                {% for task in day.tasks.all %}
                    {% if task.is_complete == False %}
                        <div class="flex space-btwn vert-center">
                            <div class="flex">
                                <div class="incomplete-days">
                                </div>
                                <div class="flex column"> 
                                    <h3>{{ task.task }}</h3>
                                </div>
                            </div>
                            <div class="flex space-btwn column col-center">
                                <p><a id="green" href="/profile/{{task.pk}}">&#x21a9;</a></p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% for task in day.tasks.all %}
                    {% if task.is_complete == True %}
                        <div class="flex space-btwn vert-center">
                            <div class="flex">
                                <div class="complete-days">
                                </div>
                                <div class="flex column"> 
                                    <h3>{{ task.task }}</h3>
                                </div>
                            </div>
                            <div class="flex space-btwn column col-center">
                                <p><a id="green" href="/profile/{{task.pk}}">&#x21a9;</a></p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
        {% endfor %}
        {% if user.is_authenticated %}
        <form method="POST" class="task">
            {% csrf_token %}
            <div class="flex space-btwn">
                {% bootstrap_form form %}
                <input class="transparent" type="submit" value="+" />
            </div>
        </form>
        {% endif %}
    </div>
    
{% endblock %}