
{% extends 'base.html' %}

{% block title %}
    PRIORI Todos
{% endblock %}

{% block body %}
    <div class="header">
        <div class="flex space-btwn">
            <h1>P</h1><h1>R</h1><h1>I</h1><h1>O</h1><h1>R</h1><h1>I</h1>
        </div>
        <div>
            {% if user.is_authenticated %}
                <div class="flex space-btwn"> 
                    <h3>{{ user.username }}</h3>
                    <h3><a href="/accounts/logout/">Logout</a></h3>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="flex column tasks">
        <div class="flex space-btwn">
            <h2>To Do</h2>
            <h2><a id="white" href="days/">Days</a></h2>
        </div>
        <div class="binder">
        {% for task in tasks %}
            {% if task.user == user %}
                {% if task.is_complete == False %}
                
                <div class="flex task space-btwn">
                    <div class="flex">
                        <div class="incomplete">
                        </div>
                        <div class="flex column"> 
                            <h3>{{ task.task }}</h3>
                            <p>{{ task.description }}</p>
                        </div>
                    </div>
                    <div class="flex space-btwn column col-center">
                        <p><a id="green" href="/profile/{{task.pk}}">&#x21a9;</a></p>
                        <p><a id="red" href="/profile/{{task.pk}}/delete">X</a></p>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for task in tasks %}
            {% if task.user == user %}
                {% if task.is_complete == True %}
                <div class="flex task space-btwn">
                    <div class="flex">
                        <div class="complete">
                        </div>
                        <div class="flex column"> 
                            <h3>{{ task.task }}</h3>
                            <p>{{ task.description }}</p>
                        </div>
                    </div>
                    <div class="flex space-btwn column col-center">
                        <p><a id="green" href="/profile/{{task.pk}}">&#x21a9;</a></p>
                        <p><a id="red" href="/profile/{{task.pk}}/delete">X</a></p>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>
        {% if user.is_authenticated %}
        <form method="POST" class="task">
            {% csrf_token %}
            {{ form.task }}
            <div class="flex space-btwn">
                {{ form.description }}
                <input class="transparent" type="submit" value="+" />
            </div>
        </form>
        {% endif %}
    </div>
    
{% endblock %}